#header{
	background-color:#E0E0E0;
	height:50px;
	width:890px;
	border-radius:20px;
	padding:10px 0px 10px 10px;
}
#header_text{
	font-size: 25px;
	margin-top: 5px;
}
#wrapper{
	width:900px;
	padding:10px;
}

#sidebar{
	background-color:#E0E0E0;
	width:250px;
	height:350px;
	border-radius:20px;
	padding:0px 10px 10px 13px;
	display:inline-block;
	margin:20px 0px 20px 0px;
}
#sidebar a:link{
	text-decoration:none;
}
#nostyle{
	list-style-type: none;
}
#sidebar #list{
	padding-left:14px;
}
#content{
	background:#B0B0B0;
	width:550px;
	float:right;
	border-radius:20px;
	margin:20px 0px 20px 0px;
	padding:10px;
}
#content li{
	margin-bottom:10px;
}
#footer{
	background-color:#E0E0E0;
	border-radius:20px;
	padding:10px;
	margin-top:-40px;

}
.clear{
	clear:both;
}
#container{
	height:550px;
}